/* Navbar */

.navbar-top {
  background-image: url("../images/nav-top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navbar-top .flex {
  align-items: flex-start;
  padding-top: 0.5rem;
  justify-content: flex-end;
}

.navbar-top .social-icon {
  width: 30px;
  height: 24px;
  vertical-align: top;
  padding-bottom: 2px;
  align-items: center;
}

.navbar-top .social-icon.instagram-icon {
  width: 22px;
  height: 22px;
}

.navbar-bottom {
  background-image: url("../images/nav-bottom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 300px; */
  /* max-height: 300vh; */
}

.navbar-middle .text-center {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* .navbar-bottom .text-center {
  font-family: monospace;
  font-weight: bold;
  color: white;
  font-size: 12px;
} */

.navbar-bottom a {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: white;
  position: relative;
}

.navbar-bottom a::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Posisi garis di bawah teks */
  left: 0;
  right: 0;
  height: 2px; /* Ketebalan garis */
  background-color: white; /* Warna garis (sesuaikan dengan preferensi) */
  transform: scaleX(0); /* Awalnya sembunyikan garis */
  transition: transform 0.3s ease; /* Transisi halus */
}

.navbar-bottom a:hover::after {
  transform: scaleX(1); /* Tampilkan garis penuh saat dihover */
}

/* Navbar */

/* Footer */
.footer {
  background-image: url("../images/foot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  display: flex; /* Use flexbox for layout */
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

/* Footer Container */
.footer .container {
  display: flex;
  justify-content: space-between;
}

/* Footer Sections (Left, Middle, Right) */
.footer-left {
  flex: 1;
  padding-right: 2rem;
}

/* Grouping middle sections */
.footer-group {
  display: flex;
  flex: 1; /* Adjust flex value to control the width */
  justify-content: space-around;
}

.footer-group .footer-middle {
  padding-right: 2rem;
}

/* Footer Logo */
.kai-logo {
  width: 200px;
  margin-bottom: 1rem;
}

/* Footer Description */
.footer-description {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: white;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Social Icons (New styling) */
.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 26px;
  height: 26px;
  vertical-align: middle;
}

.social-icons img:hover {
  opacity: 0.8;
}

/* Footer Headings */
.footer-heading {
  font-size: 25px;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  font-style: italic;
}

/* Footer Lists */
.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.footer ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.875rem;
}

.footer ul li a:hover {
  text-decoration: underline;
}
/* Footer */

/* Form */
.banner {
  background-image: url("../images/kereta-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form h1 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: #ff8c00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: #e07b00;
}

/* Responsive Design */
/* @media (max-width: 768px) {
  .form-container {
    padding: 1rem;
  }

  .form {
    padding: 1rem;
  }
} */
/* Form */

/* Dashboard */
